{{.Emoji}} {{.Title}}
Organized by: {{.Organizer}}

:date: Date: {{.Dates}}
:round_pushpin: Location: {{.Location}}
:dollar: Price: {{.Price}}

:white_check_mark: Going: ({{len .Going}})
{{range $i, $v := .Going}}{{if $i}} {{end}}{{$v}}{{end}}

:question: Maybe: ({{len .Maybe}})
{{range $i, $v := .Maybe}}{{if $i}} {{end}}{{$v}}{{end}}

:x: Can't make it: ({{len .CantMakeIt}})
{{range $i, $v := .CantMakeIt}}{{if $i}} {{end}}{{$v}}{{end}}

:pencil: Notes:
{{range .Notes}}{{.}}
{{end}}
